linkdata:  https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis/data
People

ID: Customer's unique identifier

Year_Birth: Customer's birth year

Education: Customer's education level

Marital_Status: Customer's marital status

Income: Customer's yearly household income

Kidhome: Number of children in customer's household

Teenhome: Number of teenagers in customer's household

Dt_Customer: Date of customer's enrollment with the company

Recency: Number of days since customer's last purchase

Complain: 1 if the customer complained in the last 2 years, 0 otherwise

Products

MntWines: Amount spent on wine in last 2 years

MntFruits: Amount spent on fruits in last 2 years

MntMeatProducts: Amount spent on meat in last 2 years

MntFishProducts: Amount spent on fish in last 2 years

MntSweetProducts: Amount spent on sweets in last 2 years

MntGoldProds: Amount spent on gold in last 2 years

Promotion

NumDealsPurchases: Number of purchases made with a discount

AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise

AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise

AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise

AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise

AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise

Response: 1 if customer accepted the offer in the last campaign, 0 otherwise

Place

NumWebPurchases: Number of purchases made through the company’s website

NumCatalogPurchases: Number of purchases made using a catalogue

NumStorePurchases: Number of purchases made directly in stores

NumWebVisitsMonth: Number of visits to company’s website in the last month

ID: Mã định danh duy nhất của khách hàng

Year_Birth: Năm sinh của khách hàng

Học vấn: Trình độ học vấn của khách hàng

Marital_Status: Tình trạng hôn nhân của khách hàng

Thu nhập: Thu nhập hộ gia đình hàng năm của khách hàng

Kidhome: Số trẻ em trong hộ gia đình khách hàng

Teenhome: Số thanh thiếu niên trong hộ gia đình khách hàng

Dt_Customer: Ngày khách hàng đăng ký vào công ty

Recencyy: Số ngày kể từ lần mua hàng cuối cùng của khách hàng

Complain : 1 nếu khách hàng phàn nàn trong 2 năm qua, 0 nếu ngược lại

Các sản phẩm

MntWines: Số tiền chi cho rượu vang trong 2 năm qua

MntFruits: Số tiền chi cho trái cây trong 2 năm qua

MntMeatProducts: Số tiền chi cho thịt trong 2 năm qua

MntFishProducts: Số tiền chi cho cá trong 2 năm qua

MntSweetProducts: Số tiền chi cho đồ ngọt trong 2 năm qua

MntGoldProds: Số tiền chi cho vàng trong 2 năm qua

Khuyến mãi

NumDealsPurchases: Số lần mua hàng được giảm giá

AcceptedCmp1: 1 nếu khách hàng chấp nhận ưu đãi trong chiến dịch đầu tiên, 0 nếu không

AcceptedCmp2: 1 nếu khách hàng chấp nhận ưu đãi trong chiến dịch thứ 2, 0 nếu không

AcceptedCmp3: 1 nếu khách hàng chấp nhận ưu đãi trong chiến dịch thứ 3, 0 nếu không

AcceptedCmp4: 1 nếu khách hàng chấp nhận ưu đãi trong chiến dịch thứ 4, 0 nếu không

AcceptedCmp5: 1 nếu khách hàng chấp nhận ưu đãi trong chiến dịch thứ 5, 0 nếu không

Response: 1 nếu khách hàng chấp nhận ưu đãi trong chiến dịch trước, 0 nếu không

Địa điểm

NumWebPurchases: Số lượng mua hàng được thực hiện thông qua trang web của công ty

NumCatalogPurchases: Số lần mua hàng được thực hiện bằng danh mục

NumStorePurchases: Số lần mua hàng được thực hiện trực tiếp tại cửa hàng

NumWebVisitsMonth: Số lượt truy cập vào trang web của công ty trong tháng trước

# import Package using

In [145]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
import plotly.graph_objs as go
from plotly.subplots import make_subplots
from datetime import datetime, timedelta

# Add Data

The dataset for this project is a public dataset from Kaggle provided by Dr. Omar RomeroHernandez

In [146]:
data = pd.read_csv(r'./src/data/marketing_campaign.csv')

In [147]:
data.shape

(2240, 29)

In [148]:
data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [149]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

# EDA

In [150]:
data['Dt_Customer'] = pd.to_datetime(data['Dt_Customer'], format='mixed', dayfirst=True)
data['Dt_Customer']

0      2012-09-04
1      2014-03-08
2      2013-08-21
3      2014-02-10
4      2014-01-19
          ...
2235   2013-06-13
2236   2014-06-10
2237   2014-01-25
2238   2014-01-24
2239   2012-10-15
Name: Dt_Customer, Length: 2240, dtype: datetime64[ns]

In [151]:
print('the frist data to save in dataset is ',min(data['Dt_Customer']))
print('the last data to save in dataset is',max(data['Dt_Customer']))
print('the frist year in data set is ',min(data['Dt_Customer'].dt.to_period('Y')))
print('the last year in data set is ',max(data['Dt_Customer'].dt.to_period('Y')))

the frist data to save in dataset is  2012-07-30 00:00:00
the last data to save in dataset is 2014-06-29 00:00:00
the frist year in data set is  2012
the last year in data set is  2014

In [152]:
# Extract month into a new column
data['Month'] = data['Dt_Customer'].dt.month

# Extract year into a new column
data['Year'] = data['Dt_Customer'].dt.year

# Extract mothn year into a new column
data['Month_Year'] = data['Dt_Customer'].dt.to_period('M')

#Deriving living situation by marital status"Alone"
data["Living_With"]=data["Marital_Status"].replace({
    "Married":"Partner","Together":"Partner","Absurd":"Alone","Widow":"Alone",
    "YOLO":"Alone","Divorced":"Alone","Single":"Alone",})

#Feature indicating total children living in the household
data["Children"]=data["Kidhome"]+data["Teenhome"]

#Feature for total members in the householde
data["Family_Size"] = data["Living_With"].replace({"Alone": 1, "Partner":2})+ data["Children"]

# Extract mothn year into a new Age
data['Age'] = 2014-data['Year_Birth']
#Feature indicating Frequency
data["Frequency"] = data.loc[:,data.columns.str.contains("Num")].sum(axis=1)
#Feature indicating Monetary
data["Monetary"] = data.loc[:,data.columns.str.contains("Mnt")].sum(axis=1)

In [153]:
data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,Z_CostContact,Z_Revenue,Response,Month,Year,Month_Year,Living_With,Children,Family_Size,Age
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,3,11,1,9,2012,2012-09,Alone,0,1,57
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,3,11,0,3,2014,2014-03,Alone,2,3,60
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,3,11,0,8,2013,2013-08,Partner,0,2,49
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,3,11,0,2,2014,2014-02,Partner,1,3,30
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,3,11,0,1,2014,2014-01,Partner,1,3,33

In [154]:
df = data.copy()

# preprocessing

In [155]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,Z_CostContact,Z_Revenue,Response,Month,Year,Month_Year,Living_With,Children,Family_Size,Age
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,3,11,1,9,2012,2012-09,Alone,0,1,57
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,3,11,0,3,2014,2014-03,Alone,2,3,60
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,3,11,0,8,2013,2013-08,Partner,0,2,49
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,3,11,0,2,2014,2014-02,Partner,1,3,30
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,3,11,0,1,2014,2014-01,Partner,1,3,33

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   datetime64[ns]
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
 29  Month                2240 non-null   int32
 30  Year                 2240 non-null   int32
 31  Month_Year           2240 non-null   period[M]
 32  Living_With          2240 non-null   object
 33  Children             2240 non-null   int64
 34  Family_Size          2240 non-null   int64
 35  Age                  2240 non-null   int64
dtypes: datetime64[ns](1), float64(1), int32(2), int64(28), object(3), period[M](1)
memory usage: 612.6+ KB

In [157]:
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,...,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Month,Year,Children,Family_Size,Age
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.0,2240.0,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,2013-07-10 10:01:42.857142784,49.109375,303.935714,26.302232,166.950000,...,0.013393,0.009375,3.0,11.0,0.149107,6.467411,2013.028125,0.950446,2.595089,45.194196
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,2012-07-30 00:00:00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,3.0,11.0,0.000000,1.000000,2012.000000,0.000000,1.000000,18.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,2013-01-16 00:00:00,24.000000,23.750000,1.000000,16.000000,...,0.000000,0.000000,3.0,11.0,0.000000,3.000000,2013.000000,0.000000,2.000000,37.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,2013-07-08 12:00:00,49.000000,173.500000,8.000000,67.000000,...,0.000000,0.000000,3.0,11.0,0.000000,6.000000,2013.000000,1.000000,3.000000,44.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,2013-12-30 06:00:00,74.000000,504.250000,33.000000,232.000000,...,0.000000,0.000000,3.0,11.0,0.000000,10.000000,2013.000000,1.000000,3.000000,55.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,2014-06-29 00:00:00,99.000000,1493.000000,199.000000,1725.000000,...,1.000000,1.000000,3.0,11.0,1.000000,12.000000,2014.000000,3.000000,5.000000,121.000000
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,NaN,28.962453,336.597393,39.773434,225.715373,...,0.114976,0.096391,0.0,0.0,0.356274,3.486695,0.684554,0.751803,0.906959,11.984069

In [158]:
datanumber = df.isnull().sum()
datapercentage = (datanumber/np.shape(df)[0])*100
formatdata= datapercentage.apply(lambda x: f'{x:.2f}%')
datamisssing= pd.DataFrame({'Missing':datanumber,'Percentage':formatdata})
datamisssing

                     Missing Percentage
ID                         0      0.00%
Year_Birth                 0      0.00%
Education                  0      0.00%
Marital_Status             0      0.00%
Income                    24      1.07%
Kidhome                    0      0.00%
Teenhome                   0      0.00%
Dt_Customer                0      0.00%
Recency                    0      0.00%
MntWines                   0      0.00%
MntFruits                  0      0.00%
MntMeatProducts            0      0.00%
MntFishProducts            0      0.00%
MntSweetProducts           0      0.00%
MntGoldProds               0      0.00%
NumDealsPurchases          0      0.00%
NumWebPurchases            0      0.00%
NumCatalogPurchases        0      0.00%
NumStorePurchases          0      0.00%
NumWebVisitsMonth          0      0.00%
AcceptedCmp3               0      0.00%
AcceptedCmp4               0      0.00%
AcceptedCmp5               0      0.00%
AcceptedCmp1               0      0.00%
AcceptedCmp2               0      0.00%
Complain                   0      0.00%
Z_CostContact              0      0.00%
Z_Revenue                  0      0.00%
Response                   0      0.00%
Month                      0      0.00%
Year                       0      0.00%
Month_Year                 0      0.00%
Living_With                0      0.00%
Children                   0      0.00%
Family_Size                0      0.00%
Age                        0      0.00%

In [159]:
# drop null value 
df.dropna(subset=['Income'], inplace=True)
datanumber = df.isnull().sum()
datapercentage = (df.isnull().sum()/np.shape(df)[0])*100
formatdata= datapercentage.apply(lambda x: f'{x:.2f}%')
datamisssing= pd.DataFrame({'Missing':datanumber,'Percentage':formatdata})
datamisssing

                     Missing Percentage
ID                         0      0.00%
Year_Birth                 0      0.00%
Education                  0      0.00%
Marital_Status             0      0.00%
Income                     0      0.00%
Kidhome                    0      0.00%
Teenhome                   0      0.00%
Dt_Customer                0      0.00%
Recency                    0      0.00%
MntWines                   0      0.00%
MntFruits                  0      0.00%
MntMeatProducts            0      0.00%
MntFishProducts            0      0.00%
MntSweetProducts           0      0.00%
MntGoldProds               0      0.00%
NumDealsPurchases          0      0.00%
NumWebPurchases            0      0.00%
NumCatalogPurchases        0      0.00%
NumStorePurchases          0      0.00%
NumWebVisitsMonth          0      0.00%
AcceptedCmp3               0      0.00%
AcceptedCmp4               0      0.00%
AcceptedCmp5               0      0.00%
AcceptedCmp1               0      0.00%
AcceptedCmp2               0      0.00%
Complain                   0      0.00%
Z_CostContact              0      0.00%
Z_Revenue                  0      0.00%
Response                   0      0.00%
Month                      0      0.00%
Year                       0      0.00%
Month_Year                 0      0.00%
Living_With                0      0.00%
Children                   0      0.00%
Family_Size                0      0.00%
Age                        0      0.00%

# Cluster

In [160]:
## import libaries
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from yellowbrick.cluster import KElbowVisualizer

In [161]:

df_clustering=df[["Education","Income","Age", "Recency","Family_Size","Monetary","Frequency"]]
#Scaling
scaler = StandardScaler()
scaler.fit(df_clustering)
scaled_features = pd.DataFrame(scaler.transform(df_clustering),columns= df_clustering.columns )
print('All features are now scalled')
scaled_features.head()

KeyError: "['Monetary', 'Frequency'] not in index"

## RFM
- Recency: refers to the newness of the customer. (Date of analysis - Date of last purchase by the customer)

- Frequency: is the total purchase value made by the customer.

- Monetary: It is the total money left by the customer as a result of the total purchases he made.

In [ ]:
df["Frequency"] = df.loc[:,df.columns.str.contains("Num")].sum(axis=1)

df["Monetary"] = df.loc[:,df.columns.str.contains("Mnt")].sum(axis=1)

In [ ]:
rfm = df[["ID","Recency", "Income", "Frequency", "Monetary"]]
rfm

In [ ]:
rfm = rfm[rfm["Frequency"] > 0]
rfm = rfm[rfm["Recency"] > 0]

In [ ]:
rfm.shape

In [ ]:
rfm.describe()

In [ ]:
# rfm["Recency_Score"] = pd.qcut(rfm['Recency'], 5, labels=[5, 4, 3, 2, 1])
# rfm["Frequency_Score"] = pd.qcut(rfm['Frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
# rfm["Monetary_Score"] = pd.qcut(rfm['Monetary'], 5, labels=[1, 2, 3, 4, 5])

In [ ]:
# rfm["RFM_Score"] = (rfm['Recency_Score'].astype(str) + rfm['Frequency_Score'].astype(str))
# rfm

In [ ]:
seg_map = {
        r'[1-2][1-2]': 'hibernating',
        r'[1-2][3-4]': 'at_risk',
        r'[1-2]5': 'cant_loose',
        r'3[1-2]': 'about_to_sleep',
        r'33': 'need_attention',
        r'[3-4][4-5]': 'loyal_customers',
        r'41': 'promising',
        r'51': 'new_customers',
        r'[4-5][2-3]': 'potential_loyalists',
        r'5[4-5]': 'champions'
    }

In [ ]:
#RFM SCORES
def get_rfm_scores(dataframe):
    dataframe["R"] = pd.qcut(dataframe["Recency"], 5, labels=[5, 4, 3, 2, 1])
    dataframe["F"] = pd.qcut(dataframe["Frequency"].rank(method='first'), 5, labels=[1, 2, 3, 4, 5])
    dataframe["M"] = pd.qcut(dataframe["Monetary"], 5, labels=[1, 2, 3, 4, 5])
    dataframe["RFM_Score"] = dataframe["R"].astype(str) + dataframe["F"].astype(str) # + dataframe["M"].astype(str) 
    return dataframe

get_rfm_scores(rfm)
rfm.reset_index()
#RFM segment
rfm['segment'] = rfm['RFM_Score'].replace(seg_map, regex = True)
rfm.head()

- __About To Sleep:__ Encourage customers in this segment to re-engage by implementing stimulating campaigns. Special offers, discounts, or loyalty programs could be utilized to regain their interest. 
    - (Khuyến khích khách hàng ở phân khúc này tương tác lại bằng cách triển khai các chiến dịch kích thích. Các ưu đãi đặc biệt, giảm giá hoặc chương trình khách hàng thân thiết có thể được sử dụng để lấy lại sự quan tâm của họ.)

- __At Risk:__ Since customers in this segment are at risk of attrition, special offers or discounts can be provided to win them back. Additionally, personalized services can be offered to enhance customer satisfaction. 
    - (Vì khách hàng trong phân khúc này có nguy cơ bị hao hụt nên có thể đưa ra các ưu đãi hoặc giảm giá đặc biệt để thu hút họ trở lại. Ngoài ra, các dịch vụ được cá nhân hóa có thể được cung cấp để nâng cao sự hài lòng của khách hàng.)

- __Cannot lose them:__ Customers in this segment may have demonstrated loyalty. Thus, you can strengthen their loyalty by offering loyalty programs or special privileges to reward them for their commitment.
    - (Khách hàng trong phân khúc này có thể đã thể hiện lòng trung thành. Do đó, bạn có thể củng cố lòng trung thành của họ bằng cách cung cấp các chương trình khách hàng thân thiết hoặc các đặc quyền đặc biệt để thưởng cho sự cam kết của họ.)

- __Champions:__ Customer loyalty is high in this segment. Retain their loyalty by offering special deals or loyalty programs. Additionally, consider their feedback to improve your products or services.
    - (Mức độ trung thành của khách hàng ở phân khúc này rất cao. Giữ lòng trung thành của họ bằng cách cung cấp các ưu đãi đặc biệt hoặc các chương trình khách hàng thân thiết. Ngoài ra, hãy xem xét phản hồi của họ để cải thiện sản phẩm hoặc dịch vụ của bạn.)

- __Hibernating:__ Implement stimulating campaigns to regain the interest of customers in this segment. Strategies such as sending personalized offers or reminders could be utilized.
    - (Triển khai các chiến dịch kích cầu nhằm lấy lại sự quan tâm của khách hàng đối với phân khúc này. Có thể sử dụng các chiến lược như gửi lời đề nghị hoặc lời nhắc được cá nhân hóa.)

- __Loyal Customers:__ Customers in this segment exhibit high loyalty. Offer them exclusive deals or privileges to strengthen their commitment. Additionally, gather their recommendations and feedback to enhance service quality.
    - (Khách hàng ở phân khúc này thể hiện mức độ trung thành cao. Cung cấp cho họ những ưu đãi hoặc đặc quyền độc quyền để củng cố cam kết của họ. Ngoài ra, thu thập các đề xuất và phản hồi của họ để nâng cao chất lượng dịch vụ.)

- __Need Attention:__ Attract the attention of customers in this segment by providing personalized offers or services. Ensuring excellent customer support is vital to enhance customer satisfaction.
    - (Thu hút sự chú ý của khách hàng trong phân khúc này bằng cách cung cấp các ưu đãi hoặc dịch vụ được cá nhân hóa. Đảm bảo hỗ trợ khách hàng tuyệt vời là rất quan trọng để nâng cao sự hài lòng của khách hàng.)

- __New Customers:__ Welcome these customers with welcome offers or discounts to establish their loyalty. Additionally, gather their feedback to improve your products or services.
    - (Chào mừng những khách hàng này bằng các ưu đãi hoặc giảm giá chào mừng để thiết lập lòng trung thành của họ. Ngoài ra, hãy thu thập phản hồi của họ để cải thiện sản phẩm hoặc dịch vụ của bạn.)

- __Potential_loyalist:__ Offer personalized deals or exclusive privileges to enhance the loyalty of customers in this segment. Regular interaction is crucial to increase brand awareness.
    - (Cung cấp các ưu đãi được cá nhân hóa hoặc các đặc quyền độc quyền để nâng cao lòng trung thành của khách hàng trong phân khúc này. Tương tác thường xuyên là rất quan trọng để nâng cao nhận thức về thương hiệu.)

- __Promising:__ Attract the interest of customers in this segment by implementing special offers or campaigns. Providing a good customer experience is essential to enhance customer satisfaction.
    - ( Thu hút sự quan tâm của khách hàng ở phân khúc này bằng cách triển khai các ưu đãi hoặc chiến dịch đặc biệt. Cung cấp trải nghiệm khách hàng tốt là điều cần thiết để nâng cao sự hài lòng của khách hàng.)

In [ ]:
rfm.groupby('Segment').agg({
    'Recency': ['mean','min','max'],
    'Frequency': ['mean','min','max'],
    'Monetary': ['mean','min','max']
}).round(2)

### visualtion

In [ ]:

# Recency Distribution
plt.figure(figsize=(10, 6))
sns.histplot(data=rfm, x="Recency", bins=30, kde=True)
plt.title('Recency Distribution')
plt.xlabel('Recency')
plt.ylabel('Count')
plt.show()

# Recency Segments
rfm['RecencySegment'] = pd.qcut(rfm['Recency'], q=[0, 0.25, 0.5, 0.75, 1], duplicates='drop')
recency_segments_count = rfm['RecencySegment'].value_counts()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Recency Distribution
plt.figure(figsize=(10, 6))
sns.histplot(data=rfm, x="Recency", bins=30, kde=True)
plt.title('Recency Distribution')
plt.xlabel('Recency')
plt.ylabel('Count')
plt.show()

# Recency Segments
rfm['RecencySegment'] = pd.qcut(rfm['Recency'], q=[0, 0.25, 0.5, 0.75, 1])
recency_segments_count = rfm['RecencySegment'].value_counts()

# Frequency Distribution
plt.figure(figsize=(10, 6))
sns.histplot(data=rfm, x="Frequency", bins=30, kde=True)
plt.title('Frequency Distribution')
plt.xlabel('Frequency')
plt.ylabel('Count')
plt.show()

# Frequency Segments
rfm['FrequencySegment'] = pd.qcut(rfm['Frequency'], q=[0, 0.25, 0.5, 0.75, 1],duplicates='drop')
frequency_segments_count = rfm['FrequencySegment'].value_counts()

# Monetary Segments
rfm['MonetarySegment'] = pd.qcut(rfm['Monetary'], q=[0, 0.25, 0.5, 0.75, 1],duplicates='drop')
monetary_segments_count = rfm['MonetarySegment'].value_counts()

# Monetary Distribution
plt.figure(figsize=(10, 6))
sns.histplot(data=rfm, x="Monetary", bins=30, kde=True)
plt.title('Monetary Distribution')
plt.xlabel('Monetary')
plt.ylabel('Count')
plt.show()

#### Tree Map

In [ ]:
rfm

In [ ]:
import plotly.express as px

palette = px.colors.qualitative.Set3

x = rfm['Segment'].value_counts()

fig = px.treemap(x, path=[x.index], values=x, color=x.index,
                 color_discrete_map={x.index[i]: palette[i % len(palette)] for i in range(len(x.index))})

fig.update_layout(title_text='Distribution of the RFM Segments', title_x=0.5, title_font=dict(size=20))
fig.update_traces(textinfo="label+value+percent root")

fig.show()

#### Heat map

## xuất file csv to visual on visual.ipynb

In [ ]:
merged_df = pd.merge(df, rfm)

# Export the merged DataFrame to a new CSV file
merged_df.to_csv('merged_data.csv', index=False)

In [ ]:
merged_df.columns